<div class="content1" style="display: block;
width: auto;
height: auto;
overflow: visible;">
  <table style="display: block;
  width: auto;
  height: auto;
  overflow: visible;">
    <thead>

      <tr>
        <td>
          <div class="header-space">&nbsp;</div>
        </td>
      </tr>
    </thead>
    <tbody style="width: 100%;">
      <tr>
        <td>
          <div class="content" style="display: block;
          width: auto;
          height: auto;
          overflow: visible;font-size: 25px">
            <router-outlet></router-outlet>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="header">
      <div class="row">
          <div class="col-xs-6 col-md-6"><img [src]="img_Holcim2" alt="Lafrage Holcim" style="width: 13%; "></div>
          <div class="col-xs-6 col-md-6"><img [src]="logo" alt="Lafrage Holcim" style="width: 8%; margin-left: 370px; margin-top: 27px;"></div>
      </div>
    
  </div>

</div>