

<div class="test" >
<div class="titre" style="font-size: 25px;">BON DE DECONSIGNATION N° {{numerobc}}</div>
<br>


<div class="col-xs-6" >
    <div class="tableLeft">
        <table class="demandeur .first" style="width: 690px;">
            <tbody>
                <tr>
                    <td style=" border: none; width: 60%;text-align: right;font-weight: bold;font-size: 18px">Demandeur :</td>
                    <td style=" border: none;font-size: 18px">{{nomDemandeur}}</td>
                </tr>
            </tbody>
        </table>
        <table class="demandeur first" style="width: 690px;">
            <tbody>
                <tr>
                    <td style=" border: none; width: 60%;text-align: right;font-weight: bold;font-size: 18px">Type de consignation
                        :</td>
                    <td style=" border: none;font-size: 18px">{{typeConsignation}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<div class="tableRight" >
    <table class="demandeur first" style="width: 830px;">
        <tbody>
            <tr>
                <td style=" border: none; width: 18%; text-align: right;font-weight: bold;font-size: 18px">Service :</td>
                <td style=" border: none;font-size: 18px">{{Service_demandeur}}</td>
                <td style=" border: none; width: 18%; text-align: right;font-weight: bold;font-size: 18px ">Secteur :</td>
                <td style="width :30% ;  border: none;font-size: 18px">{{secteur}}</td>
            </tr>
        </tbody>
    </table>
    <table class="demandeur first" style="width: 830px;">
        <tbody>
            <tr>
                <td style=" border: none; width: 18%; text-align: right;font-weight: bold;font-size: 18px">Installation :</td>
                <td style=" border: none;font-size: 18px">{{installation}}</td>
                <td style=" border: none; width: 18%; text-align: right;font-weight: bold;font-size: 18px">Date :</td>
                <td style="width :30% ;  border: none;font-size: 18px">{{date}}</td>
            </tr>
        </tbody>
    </table>
   
</div>


<br>

<p style="font-weight: bold; color: black;">
    Deconsignation : <br>
    /- l'intervenant peut consigner en cas d'une seule consignation ICV<br>
    avec un seul intervenant (LafrageHolcim)<br>
    - L'électricien signe en cas de consignation sur module.
</p>

<table class="demandeur .first">
    <tbody>
        <tr>
            <td style="font-weight: bold; color: black;font-size: 25px;">Signature Controleur de consignation /Chargé de conduite /Superviseur</td>

        </tr>
    </tbody>
</table>

<table class="demandeur .first" style="margin-top: 0.3%;">
    <tbody>
        <tr>
            <td style="font-weight: bold; color: black;padding: 10%;font-size: 25px;">{{date}}</td>
        </tr>
    </tbody>
</table>
</div>