<div class="header">
  <h4 class="title">Ajouter un Secteur </h4>
</div>
<div class="content">
  <form [formGroup]="secteurForm" class="form-horizontal" (ngSubmit)="submit(secteurForm)">
    <mat-form-field style="width: 100%;">
      <input type="text" matInput formControlName="nomSecteur" placeholder="Nom Secteur">
    </mat-form-field>
    <div mat-dialog-actions>
      <button type="button" mat-button (click)="onNoClick()" class="btn btn-danger">Non Merci</button>
      <button type="submit" (click)="onNoClick()" mat-button class="btn btn-info " cdkFocusInitial>Ok</button>
    </div>
  </form>
</div>