
    <!--<h1 mat-dialog-title>Hi {{data.name}}</h1>-->
<form [formGroup]="secteurForm" (ngSubmit)="submit(secteurForm)">
   
    <div mat-dialog-content>
      <span>Entrer le nom du secteur :</span>
      <mat-form-field class="w-100">
        <input type="text" matInput formControlName="nomSecteur" placeholder="Nom Secteur">
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button type="button" mat-button (click)="onNoClick()" class="btn btn-danger">Non Merci</button>
      <button type="submit" mat-button class="btn btn-info ">Ok</button>
    </div>
</form>