<button mat-raised-button (click)="openDialog()">Ajouter un demandeur</button>


<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>


<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Nomsecteur">
            <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header> nom complet </th>
            <td mat-cell *matCellDef="let element"> {{element.nomcomplet}} </td>
        </ng-container>
        <!-- droit Column -->
        <ng-container matColumnDef="Nomsecteur">
            <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header> nom complet </th>
            <td mat-cell *matCellDef="let element"> {{element.Droit}} </td>
        </ng-container>
        <!-- login Column -->
        <ng-container matColumnDef="Nomsecteur">
            <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header> nom complet </th>
            <td mat-cell *matCellDef="let element"> {{element.login}} </td>
        </ng-container>
        <!-- password Column -->
        <ng-container matColumnDef="Nomsecteur">
            <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header> nom complet </th>
            <td mat-cell *matCellDef="let element"> {{element.password}} </td>
        </ng-container>
        <!-- IDservice Column -->
        <ng-container matColumnDef="Nomsecteur">
            <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header> nom complet </th>
            <td mat-cell *matCellDef="let element"> {{element.IDservice}} </td>
        </ng-container>
           <!-- IDcategorie Column -->
           <ng-container matColumnDef="Nomsecteur">
                <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header> nom complet </th>
                <td mat-cell *matCellDef="let element"> {{element.IDcategorie}} </td>
            </ng-container>

        <!-- action Column delete -->
        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header>action </th>
            <td mat-cell *matCellDef="let element"><span (click)="delete(element.id,element.Nomcomplet,element.Droit,element.login,element.password,element.IDservice,element.IDcategorie)"
                    class="btn btn-danger">delete</span>
                <span (click)="openDialog1(element)" class="btn btn-dark">update</span> </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>