<mat-horizontal-stepper #stepper>
    <mat-step editable="false">
        <ng-template matStepLabel>Login</ng-template>
        <app-login [stepper]="stepper"></app-login>

    </mat-step>
    <mat-step editable="false">
        <ng-template matStepLabel>Equipement</ng-template>
        <app-select-equipement [stepper]="stepper"></app-select-equipement>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Intervention</ng-template>
        <app-interventioncons [stepper]="stepper"></app-interventioncons>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Sous-equipement</ng-template>
        <app-sousequipement-consignation></app-sousequipement-consignation>
        <button mat-button class="mt-2" matStepperPrevious>Précédent</button>
        <button mat-button class="float-right btn btn-info mt-2" matStepperNext>Suivant</button>

    </mat-step>
    <mat-step editable="false">
        <ng-template matStepLabel>Responsable</ng-template>
        <app-responsables [stepper]="stepper"></app-responsables>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Intervenants</ng-template>
        <app-intervenantscons></app-intervenantscons>
        <button mat-button class="float-right btn btn-info mt-2"  [routerLink]="[{outlets: {template: ['consignation']}}]">valider</button>
    </mat-step>
</mat-horizontal-stepper>