<mat-horizontal-stepper #stepper>
    <mat-step>
        <ng-template matStepLabel>Etape 1</ng-template>
        <app-login></app-login>
        <button mat-button class="mt-2" matStepperPrevious>Back</button>
        <button mat-button class="float-right mt-2 btn btn-info" matStepperNext>Suivant</button>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Image</ng-template>
        <app-addimage></app-addimage>
        <button mat-button class="mt-2" matStepperPrevious>Back</button>
        <button mat-button class="float-right mt-2 btn btn-info" matStepperNext>Suivant</button>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel> Sous Equipement
        </ng-template>
        <app-sousequipement></app-sousequipement>
        <button mat-button class="mt-2" matStepperPrevious>Back</button>
        <button mat-button class="float-right btn btn-info mt-2" matStepperNext>Suivant</button>

    </mat-step>
    <mat-step>
        <ng-template matStepLabel> Lototo
        </ng-template>
        <app-addlototo></app-addlototo>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel> Interventions
        </ng-template>
        <app-intervention>
            </ app-intervention>
            <button mat-button class="mt-2" matStepperPrevious>Back</button>
            <button mat-button class="float-right btn btn-info mt-2" matStepperNext>Suivant</button>

    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>

</mat-horizontal-stepper>
