<div class="col-md-14">
    <div class="card">
        <div class="card-header card-header-info">
            <h4 class="card-title">Ajouter un Sous-Equipement</h4>
            <p class="card-category">Remplissez le formulaire</p>
        </div>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="submit(form, 'sousequipement')">
                <ng-template matStepLabel>Equipement</ng-template>
                <!---->
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <mat-form-field style="width: 100%;">
                                <input matInput type="text" formControlName="numero" placeholder="numero:" />
                                <mat-error *ngIf="f.numero.errors" class="invalid-feedback">
                                    <mat-error *ngIf="f.numero.errors.required"> numero :</mat-error>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <p></p>
                        <mat-form-field style="width: 100%;">
                            <input matInput type="text" formControlName="CodeHAC" placeholder="code hac :" />
                            <mat-error *ngIf="f.CodeHAC.errors" class="invalid-feedback">
                                <mat-error *ngIf="f.CodeHAC.errors.required"> </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <mat-form-field style="width: 100%;">
                                <input matInput type="text" formControlName="Nomequipement"
                                    placeholder="Nomequipement:" />
                                <mat-error *ngIf="f.Nomequipement.errors" class="invalid-feedback">
                                    <mat-error *ngIf="f.Nomequipement.errors.required">Nom du sous equipement
                                    </mat-error>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <mat-form-field style="width: 100%;">
                                <input matInput type="text" formControlName="Emplacement" placeholder="Emplacement:" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <mat-form-field class="w-100">
                                <mat-label>Type d'energie</mat-label>
                                <select formControlName="TypeEnergie" matNativeControl required>
                                    <option value="Mechanique">
                                        Mechanique
                                    </option>
                                    <option value="Electrique">
                                        Electrique
                                    </option>
                                    <option value="Thermatique">
                                        Thermatique
                                    </option>
                                    <option value="Hydraulique">
                                        Hydraulique
                                    </option>
                                    <option value="Pneumatique">
                                        Pneumatique
                                    </option>
                                </select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <mat-form-field style="width: 100%;">
                                <input matInput type="text" formControlName="Lieu" placeholder="Lieu:" />
                                <mat-error *ngIf="f.Lieu.errors" class="invalid-feedback">
                                    <mat-error *ngIf="f.Lieu.errors.required"> Lieu :</mat-error>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <mat-form-field style="width: 100%;">
                                <input matInput type="text" formControlName="Remarque" placeholder="Remarque:" />
                                <mat-error *ngIf="f.Remarque.errors" class="invalid-feedback">
                                    <mat-error *ngIf="f.Remarque.errors.required"> Remarque :</mat-error>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!---->
                <div mat-dialog-actions class="float-right">
                    <button type="button" mat-button (click)="onNoClick()" class="btn btn-danger">Non Merci</button>
                    <button type="submit" cdkFocusInitial class="btn btn-info">Ok</button>
                </div>
            </form>
        </div>    
    </div>    
</div>    

