<p style="font-weight: bold; color: black;">
    Consignation : <br>
    /- l'intervenant peut consigner en cas d'une seule consignation ICV<br>
    avec un seul intervenant (LafrageHolcim)<br>
    - L'électricien signe en cas de consignation sur module.
</p>



<div class="row">
    <div class="col-xs-3 col-md-3"><table class="demandeur .first" style="width: 400px;">
        <tbody>
            <tr>
                <td style="font-weight: bold; color: black;padding: 3.3%;">Signature Controleur de consignation</td>
    
            </tr>
        </tbody>
    </table>
    
    <table class="demandeur .first" style="margin-top: 0.3%;width: 400px;">
        <tbody>
            <tr>
                <td style="font-weight: bold; color: black;padding: 10%;">{{date}}</td>
            </tr>
        </tbody>
    </table></div>
    <div class="col-xs-3 col-md-3" style="margin-left: 80px;"><app-printelectricien></app-printelectricien></div>
    <div class="col-xs-3 col-md-3" style="margin-left: 80px;"><app-printmecanique></app-printmecanique></div>
</div>

