<p style="font-weight: bold; color: black;">
    Consignation : <br>
    /- l'intervenant peut consigner en cas d'une seule consignation ICV<br>
    avec un seul intervenant (LafrageHolcim)<br>
    - L'électricien signe en cas de consignation sur module.
</p>

<table class="demandeur .first">
    <tbody>
        <tr>
            <td style="font-weight: bold; color: black;">Signature Controleur de consignation /Chargé de conduite /Superviseur</td>

        </tr>
    </tbody>
</table>

<table class="demandeur .first" style="margin-top: 0.3%;">
    <tbody>
        <tr>
            <td style="font-weight: bold; color: black;padding: 10%;">{{date}}</td>
        </tr>
    </tbody>
</table>