<!--<a class="nav-link" [routerLink]="[{outlets: {templateConsignation: ['dashboard']}}]">Dashboard</a>
<a class="nav-link" [routerLink]="[{outlets: {templateConsignation: ['addconsignation']}}]">Ajouter Consignation</a>

<button class="btn btn-primary"  [routerLink]="[{outlets: {templateConsignation: ['dashboard']}}]">
    DashBoard
</button>-->
<div class="row">
<button class="btn btn-primary"  [routerLink]="[{outlets: {templateConsignation: ['addconsignation']}}]">
   Ajouter Consignation
</button>
</div>