<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="./assets/images/img-01.png" alt="IMG">
            </div>

            <form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="OnSubmit()">
                <span class="login100-form-title">
					Data Consignation 
					<h4>Espace Admin</h4>
                </span>


                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" placeholder="Login" formControlName="LoginDemandeur">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" placeholder="Password" formControlName="PassDemandeur">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
						Login
					</button>
                </div>

                <div class="text-center p-t-12">
                    <span class="txt1" style="color: red;"> {{message}}</span>
                </div>

            </form>
        </div>
    </div>
</div>




<!--===============================================================================================-->
<!--===============================================================================================-->
<script src="../asstes/vendor/bootstrap/js/popper.js"></script>
<!--===============================================================================================-->
<script src="../asstes/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="../asstes/vendor/tilt/tilt.jquery.min.js"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script src="../asstes/js/main.js"></script>