.header, .header-space, .footer, .footer-space
  height: 100px

.header
  position: absolute
  width:100%
  top: 0
  
.inline-block
  display: inline-block
  
@media screen
  \:host
    display: none
    
.content1
  margin: 0
  height: 100%
  display: block
  width: auto
  height: auto
  

*
  color: black