
<!--<h1 mat-dialog-title>Hi {{data.name}}</h1>-->
<form ngForm="form" (ngSubmit)="submit()">
   
    <div mat-dialog-content>
          Entrer le nom du categorie :
   <p></p>
      <mat-form-field style="width: 100%;">
        <input  required type="text" matInput [(ngModel)]="categorie.categorie.nomcomplet" name="nomcomplet"/>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button type="button" mat-button (click)="onNoClick()" class="btn btn-danger">Non Merci</button>
      <button type="submit" mat-button [mat-dialog-close]="categorie.nomcomplet" cdkFocusInitial class="btn btn-info ">Ok</button>
    </div>
</form>



