<div *ngIf="nommecanique != null" style="margin-top: 2px;">
    <table class="demandeur .first" style="width: 400px;">
        <tbody>
            <tr>
                <td style="font-weight: bold; color: black;padding: 3%;">Signature du mécanicien :</td>

            </tr>
        </tbody>
    </table>

    <table class="demandeur .first" style="margin-top: 0.3%;width: 400px;">
        <tbody>
            <tr>
                <td style="font-weight: bold; color: black;padding: 10%;">{{nommecanique}}</td>
            </tr>
        </tbody>
    </table>
</div>