<!--<h1 mat-dialog-title>Hi {{data.name}}</h1>-->
<form ngForm="form" (submit)="submit()">
   
        <div mat-dialog-content>
                Entrer le libelle :
          <p></p>
          <mat-form-field>
            <input  required type="text" matInput [(ngModel)]="service.service.libelle" name="libelle">
          </mat-form-field>
        </div>
        <div mat-dialog-actions>
          <button mat-button (click)="onNoClick()">Non Merci</button>
          <button type="submit" mat-button [mat-dialog-close]="service.libelle" cdkFocusInitial>Ok</button>
        </div>
        </form>