<div class="col-md-14">
    <div class="card">
        <div class="card-header card-header-info">
            <h4 class="card-title">Modifier Le Sous equipement</h4>
            <p class="card-category">Remplissez le formulaire</p>
        </div>
        <div class="card-body">
            <form ngForm="formupdatese" [formGroup]="formupdatese" (ngSubmit)="update()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <mat-form-field style="width: 100%;">
                                <input matInput type="number" formControlName="numero" placeholder="numero:" />
                                <mat-error *ngIf="f.numero.errors" class="invalid-feedback">
                                    <mat-error *ngIf="f.numero.errors.required"> numero</mat-error>
                                </mat-error>
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <mat-form-field style="width: 100%;">

                                <input matInput type="text" formControlName="CodeHAC" placeholder="code hac :" />
                                <mat-error *ngIf="f.CodeHAC.errors" class="invalid-feedback">
                                    <mat-error *ngIf="f.CodeHAC.errors.required"> </mat-error>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <mat-form-field style="width: 100%;">
                                <input matInput type="text" formControlName="Nomequipement"
                                    placeholder="Nomequipement:" />
                                <mat-error *ngIf="f.Nomequipement.errors" class="invalid-feedback">
                                    <mat-error *ngIf="f.Nomequipement.errors.required"> Nomequipement</mat-error>
                                </mat-error>
                            </mat-form-field>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">



                            <mat-form-field style="width: 100%;">
                                <input matInput type="text" formControlName="Emplacement" placeholder="Emplacement:" />
                                <mat-error *ngIf="f.Emplacement.errors" class="invalid-feedback">
                                    <mat-error *ngIf="f.Emplacement.errors.required"> Emplacement</mat-error>
                                </mat-error>
                            </mat-form-field>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                    <!--       <mat-form-field style="width: 100%;">
                                <input matInput type="text" formControlName="TypeEnergie" placeholder="TypeEnergie:" />
                                <mat-error *ngIf="f.TypeEnergie.errors" class="invalid-feedback">
                                    <mat-error *ngIf="f.TypeEnergie.errors.required"> description</mat-error>
                                </mat-error>
                            </mat-form-field>-->
                            <mat-form-field style="width: 100%;">
                                <mat-label>service :</mat-label>
                                <select matNativeControl formControlName="TypeEnergie" [(value)]="this.data.element.typeEnergie" name="TypeEnergie">
                                    <option value="Mechanique">
                                        Mechanique
                                    </option>
                                    <option value="Electrique">
                                        Electrique
                                    </option>
                                    <option value="Thermatique">
                                        Thermatique
                                    </option>
                                    <option value="Hydraulique">
                                        Hydraulique
                                    </option>
                                    <option value="Pneumatique">
                                        Pneumatique
                                    </option>
                                </select>
                            </mat-form-field>        

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">



                            <mat-form-field style="width: 100%;">
                                <input matInput type="text" formControlName="Lieu" placeholder="Lieu:" />
                                <mat-error *ngIf="f.Lieu.errors" class="invalid-feedback">
                                    <mat-error *ngIf="f.Lieu.errors.required"> description</mat-error>
                                </mat-error>
                            </mat-form-field>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">



                            <mat-form-field style="width: 100%;">
                                <input matInput type="text" formControlName="Remarque" placeholder="Remarque:" />
                                <mat-error *ngIf="f.Remarque.errors" class="invalid-feedback">
                                    <mat-error *ngIf="f.Remarque.errors.required"> Remarque</mat-error>
                                </mat-error>
                            </mat-form-field>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">

                            <mat-button-toggle-group appearance="legacy" formControlName="etat" name="fontStyle"
                                aria-label="Font Style" value="true">
                                <mat-button-toggle value="true" style="color: grey;">Activé</mat-button-toggle>
                                <mat-button-toggle value="false" style="color: grey;">Désactiver </mat-button-toggle>
                            </mat-button-toggle-group>

                            <p></p>

                        </div>
                    </div>
                </div>
                
                <div mat-dialog-actions class="float-right">
                    <button type="button" mat-button (click)="onNoClick()" class="btn btn-danger">Non Merci</button>
                    <button type="submit" mat-button cdkFocusInitial class="btn btn-info">Ok</button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>