<br>



<mat-form-field style="width: 100%;">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="mat-elevation-z8">
    <div class="card">
        <div class="card-header card-header-info" style="background: #00bcd4; ">
            <div class="row">
                <div class="col-md-10">
                    <h4 class="card-title">Sous equipements</h4>
                    <p class="card-category"> Liste des Sous equipement</p>
                </div>
                <div class="col-md-2 float-right">
                    <button class="btn btn-info" (click)="openDialog()" style="border: 1px solid rgb(255, 255, 255);">
                        <i class="material-icons" style="font-size: 25px;">
                            add
                        </i>
                    </button>

                </div>
            </div>


        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" matSort class="table  table-hover " >

                    <!-- Position Column -->
                    <ng-container matColumnDef="id">              
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <div>
                        <td mat-cell *matCellDef="let element" > {{element.id}} </td>
                        </div>
                    </ng-container>

                    <!-- code hac Column -->
                    <ng-container matColumnDef="codeHAC">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header> codehac </th>
                        <td mat-cell *matCellDef="let element"  > {{element.codeHac}} </td>
                    </ng-container>
                    <!-- description Column -->
                    <ng-container matColumnDef="nomequipement">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header> Non du sous equipement </th>
                        <td mat-cell *matCellDef="let element"> {{element.nomequipement}} </td>
                    </ng-container>
                    <!-- description Column -->
                    <ng-container matColumnDef="emplacement">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header> Emplacement </th>
                        <td mat-cell *matCellDef="let element"> {{element.emplacement}} </td>
                    </ng-container>
                    <!-- description Column -->
                    <ng-container matColumnDef="typeenergie">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header> Type energie </th>
                        <td mat-cell *matCellDef="let element"> {{element.typeEnergie}} </td>
                    </ng-container>
                    <!-- description Column -->
                    <ng-container matColumnDef="lieu">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header> Lieu </th>
                        <td mat-cell *matCellDef="let element"> {{element.lieu}} </td>
                    </ng-container>

                    <ng-container matColumnDef="idequipement">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header> Equipement </th>
                        <td mat-cell *matCellDef="let element"> {{element.idequipementNavigation.description}} </td>
                    </ng-container>

                    <ng-container matColumnDef="numero">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header> N° </th>
                        <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
                    </ng-container>

                    
                    <ng-container matColumnDef="remarque">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header> Remarque </th>
                        <td mat-cell *matCellDef="let element"> {{element.remarque}} </td>
                    </ng-container>




                    <!-- action Column delete -->

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header>Action</th>
                        <td mat-cell *matCellDef="let element">
                            <i (click)="openDialog1(element)" class="mdc-icon-button material-icons icon-blue"> edit
                            </i>
                            <i (click)="delete(element.id)"
                                class="mdc-icon-button material-icons icon-red"> close </i>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
